# Entorno Virtual
venv/
env/
.venv/

# Archivos de compilación
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de distribución
build/
dist/
*.egg-info/

# Configuraciones del IDE
.vscode/
.idea/

# Archivos de configuración local
.env

# Resultados de pruebas temporales
.pytest_cache/

# Archivos temporales del sistema
*.swp
*.swo
.DS_Store
Thumbs.db
